/* Variables */
:root {
    --navbar-height: 70px;
    --header-margin: 10px;
    --header-height: 140px;
    --footer-height: 150px;
    --modal-animation: modalAnimate 0.4s ease-in-out;   

    --header-color: #bde0feff;
    --main-color: rgb(223, 240, 255);
    --footer-color: var(--header-color);
    --light-color: white;
    --shadow-color: rgba(29, 29, 29, 0.4);
    --shadow: 0 0 60px 0px var(--shadow-color);
    --shadow-btn: 0 0 30px 0px var(--shadow-color);
    --button-color: rgb(47, 155, 255); 
    --red-color: red;
    --circle-color1: #cdb4dbff;
    --circle-color2: #a2d2ffff;
    --circle-color3: #ffafccff;    
}

/* Reset defaults */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: var(--main-color);    
}

h1, h2, h3, h4, p {
    line-height: 1.2em;
    font-weight: 400;
}


/* Styles */

nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: var(--navbar-height);
}

nav .top-menu {
    height: var(--navbar-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin: var(--header-margin);
    letter-spacing: 0.2em;
    transition: letter-spacing 0.1s ease-out;
}

nav h1:hover {
    letter-spacing: 0.3em;
    cursor: pointer;
}

button {
    background-color: var(--button-color);
    color: var(--light-color);
    margin: 0;
    border: none;
    font-size: 1rem;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    transition: all 0.1s ease-out;
    margin: 3px 0 0 0;
    white-space: nowrap;
}

button:hover {
    box-shadow: var(--shadow-btn);
    cursor: pointer;
    margin: 0 0 3px 0;
}

button:disabled {
    background-color: gray;
    box-shadow: none;
    cursor: auto;
    margin: 3px 0 0 0;
}

.btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    width: 3rem;
    height: 3rem;    
    opacity: 0.7;
}

.btn-red {
    background-color: var(--red-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
}

.trash-btn {
    background-image: url('./assets/icons/circle-xmark.svg');
}

nav .basket-btn {
    background-image: url('./assets/icons/basket-shopping.svg');
    margin: var(--header-margin);
}


.badge {
    filter: none;
    position: absolute;
    top: 5px;
    background-color: var(--red-color);
    line-height: 1;
    font-size: 0.8em;
    color: var(--light-color);
    padding: 0.4em 0;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    border-radius: 50%;
}

.basket-count-badge {
    display: none;
    right: 5px;
}

.amount-badge {
    font-size: 1em;
    padding: 0.7em 0;
    width: 2.6em;
    height: 2.6em;
    left: 5px;
}

/* Basket */

@keyframes modalAnimate {
    from {opacity: 0}
    to {opacity: 1}
  }

nav .basket {
    position: absolute;
    right: 0;
    margin-right: 20px;
    min-width: 460px;
    max-width: 500px;
    max-height: 90vh;
    background-color: var(--light-color);
    padding: 40px;
    box-shadow: var(--shadow);
    display: none;
    flex-flow: column nowrap;
    animation: var(--modal-animation);
}

.basket > h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
}

.basket-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 60px;    
    overflow-y: auto;
}


.basket-controls {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.basket-controls h3 {
    font-size: 1.2em;
}

/* Header */

header {
    position: relative;
    padding-top: var(--navbar-height);
    box-sizing: content-box;
    height: var(--header-height);
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background-color: var(--header-color);
}

header > * {
    z-index: 3;
}

header h2, header h4 {
    margin: var(--header-margin);
}

header h2 {
    font-size: 2.5em;
}

header h4 {
    font-size: 1.5em;
}

/* Decorative circles for background */

.circle {
    position: absolute;
    z-index: 1;
    height: 33vw;
    width: 33vw;
    border-radius: 50%;
    opacity: 0.6;;

}

.top {
    bottom: 5rem;
}

.bottom {
    top: 5rem;
}

.center {
    right: 30%;
}

.right {
  right: 5rem;
}

.color1 {
    background-color: var(--circle-color1);
}

.color2 {
    background-color: var(--circle-color2);
}

.color3 {
    background-color: var(--circle-color3);
}

main {
    width: 1200px;
    padding: 50px;
    margin: auto;
}

main h2 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Book Item for Catalog and Basket */

.book-wrapper {
    display: grid;
    gap: 5em;
    grid-template-columns: 1fr 1fr;
}

.book-item {
    display: flex;
    gap: 2em;
}

.book-item img {
    max-height: 240px;
}

.book-item h4 {
    margin-top: 0;
}

.basket .book-item img {
    max-height: 120px;
    /* width: auto; */
}

.book-item .book-left-pane {
    position: relative;
}

.book-item .book-right-pane {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.basket-content .book-right-pane {
    width: 100%;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.book-info h3 {
    font-size: 1.5em;
    margin: 0;    
    margin-bottom: 1em;    
}

.book-info h4 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 0.5em;
}

.basket-content .book-info h3 {
    font-size: 1.2em;
}

.basket-content .book-info h4 {
    font-size: 1em;
}

.book-controls {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 20px;
}

.book-more-info {
    display: none;
    position: absolute;
    background-color: var(--light-color);
    box-shadow: var(--shadow);
    animation: var(--modal-animation);
    max-width: 300px;
    padding: 1.5em;
    flex-flow: column nowrap;
    align-items: flex-end;
}

/* Checkout */
.checkout {
    display: none;
}

.checkout-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin: auto;
    max-width: 800px;
}

.checkout form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em 1em;
    align-items: center;
    width: auto;
}


.checkout form > label {
    font-size: 1.2em;
    text-align: right;
}

.checkout form input {
    font-size: 1em;
}

.checkout form input[type=text], .checkout form input[type=number],
.checkout form input[type=date] {
    width: 20rem;
    padding: 0.4em 0.8em;
}



.checkout form .input-hint {
    position: absolute;
    display: none;
}

.checkout form .option-group {
    display: grid;
    grid-template-columns: 1.6em 1fr;
    align-items: baseline;
    justify-items: stretch;
}

.checkout form .option-group label {
    font-size: 1em;
}

/* Summary */
.summary {
    display: none;
}


/* Footer */

footer {
    height: var(--footer-height);
    background-color: var(--footer-color);
    position: relative;
    overflow: hidden;
}


@media only screen and (max-width: 1200px) {
    main {
        width: 100%;
        margin: 0;
    }
    .book-wrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
    }
}

/* Mobile devices */

@media only screen and (max-width: 600px) {
    nav .basket {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-height: 100vh;
    }
    .checkout form {
        display: grid;
        grid-template-columns: 1fr;
    } 
    .checkout form label {
        text-align: left;
    } 
}


