/* Variables */
:root {
    --navbar-height: 50px;
    --header-color: beige;
    --header-margin: 10px;
    --header-height: 100px;
}

/* Reset defaults */
body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Styles */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--header-color);
    height: var(--navbar-height);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    text-transform: uppercase;
    margin: var(--header-margin);
}

nav .basket-btn {
    background-image: url('./assets/icons/basket-shopping.svg');
    width: 30px;
    height: 30px;
    margin: 10px;
}

header {
    position: relative;
    padding-top: var(--navbar-height);
    height: var(--header-height);
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background-color: var(--header-color);
}

header > * {
    z-index: 3;
}

header h3, header h4 {
    margin: var(--header-margin);
}


.circle {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 60%;
    border-radius: 100%;
    background-color: rgb(228, 225, 252);
    height: 100%;
    width: 30%;
}