/* Checkout */
.checkout {
    display: none;
}

.checkout-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin: auto;
    max-width: 800px;
}

.checkout form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.checkout .form-inputs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em 1em;
    align-items: center;
    width: auto;
}


.form-inputs > label {
    font-size: 1.2em;
    text-align: right;
}

.form-inputs > input {
    font-size: 1em;
}

.form-inputs input[type=text],
.form-inputs input[type=date] {
    width: 20rem;
    padding: 0.4em 0.8em;
    border: solid 2px var(--button-color);
    border-radius: 0.4em;
}

input[type=text].invalid, input[type=date].invalid {
    border: solid 2px var(--red-color);
}

.form-inputs > div {
    position: relative;
}

.form-inputs .input-hint {
    position: absolute;
    color: var(--red-color);
    margin-left: 1em;
    padding: 0.2em 0.4em;
    border-radius: 0em 0.4em 0.4em 0.4em;
    bottom: -2em;
    box-shadow: var(--shadow-tooltip);
    width: fit-content;
    background-color: var(--tooltip-color);
    display: none;
}

.form-inputs .input-hint::before {
    content: '*';
}

.form-inputs .option-group {
    display: grid;
    grid-template-columns: 1.6em 1fr;
    align-items: baseline;
    justify-items: stretch;
}

.form-inputs .option-group label {
    font-size: 1em;
}

form .submit-wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.submit-wrapper > * {
    min-width: 25%;
}

/* Summary */
.summary {
    display: none;
}
