/* Variables */
:root {
    --navbar-height: 70px;
    --header-margin: 10px;
    --header-padding-left: 2.6rem;
    --header-height: 140px;
    --footer-height: 150px;  
    --icon-size: 1.8rem; 
    --icon-opacity: 0.7;

    --header-color: #bde0feff;
    --main-color: rgb(223, 240, 255);
    --footer-color: var(--header-color);
    --light-color: white;
    --tooltip-color: rgba(248, 250, 187, 0.719);
    --shadow-color: rgba(29, 29, 29, 0.4);
    --shadow: 0 0 60px 0px var(--shadow-color);
    --shadow-btn: 0 0 30px 0px var(--shadow-color);
    --shadow-tooltip: 0 0 10px 0px var(--shadow-color);
    --button-color: rgb(47, 155, 255); 
    --red-color: red;
    --circle-color1: #cdb4dbff;
    --circle-color2: #a2d2ffff;
    --circle-color3: #ffafccff;    
    
}